<body>
  <div class="container">
    <div class="row">
      <div class="sub-container mx-auto col-xs-12 col-sm-10 col-md-8 col-lg-6">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h2>Free Code Camp Weather App</h2>
        </div>
        
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <button id="getweather" class="btn btn-default btn-lg">Get Weather</button>
       
          <input id="toggle-event" type="checkbox" checked data-on="Celsius" data-off="Farenheit" data-toggle="toggle" data-onstyle="danger" data-offstyle="info" data-size="large">
          <div id="console-event"></div>
          
        </div>
          
        
        <div id="loading-container" class="mx-auto col-xs-4 col-sm-3 col-md-2 col-lg-1">
          .loader
            #largeBox
            #smallBox
        </div>
        
        <div id="location" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
        <div id="temperature" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
        <div id="condition" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
        
        <div class="row footer">
          <div class="footer-one col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div>Made with <i class="fa fa-beer fa-3"></i> in Detroit</div>
          </div>
          <div class ="footer-two col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div>Find Me On <a href="https://twitter.com/cunninggoat"><i class="fa fa-twitter fa-5" aria-hidden="false"></i></a> <a href="https://github.com/davegt40"><i class="fa fa-github fa-5" aria-hidden="false"></i></a>
            </div>
          </div>
        </div> 
        
      </div> 
    </div> 
  </div>
</body>